body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --suble-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0px 15px;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  display: inline-block;
}

.logo-studio {
  color: var(--dark-color);
}

.list {
  list-style: none;
}

.nav-list {
  display: inline-block;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.nav-list-item {
  display: inline-block;
  padding: 24px 20px;
}

.link:hover,
.link:focus {
  color: var(--pressed-color);
}

.contact {
  font-style: normal;
}

.nav-contact-item {
  display: inline-block;
  padding: 24px 20px;
}

.nav-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.footer {
  background-color: var(--dark-color);
  margin-top: 0px;
}

.footer-contents {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-studio-footer {
  color: var(--light-color);
}

.footer-note {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  width: 264px;
}

.hero-section {
  background-color: var(--dark-color);
  height: 600px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  width: 496px;
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding-top: 188px;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--brand-color);
  cursor: pointer;
  padding: 16px 32px;
  box-sizing: border-box;
  display: block;
  border: none;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4%;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.objective-item {
  display: inline-block;
  width: calc((100% - 48px) / 4);
}

.objective {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  margin-top: 120px;
}

.objectives-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: inline-block;
  margin-top: 8px;
}

.introduction-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-top: 120px;
}

.introduction-list {
  display: flex;
  justify-content: space-around;
}

.introduction-item {
  margin-bottom: 120px;
  margin-top: 120px;
}

.team-section {
  background-color: var(--light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 60px;
}

.team-list {
  margin-bottom: 120px;
}

.team-item {
  background-color: var(--white-background);
  width: calc((100% - 48px) / 4);
  display: inline-block;
  margin-bottom: 120px;
}

.member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}
.member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}

.filter-menu {
  width: 586px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--light-color);
  border-color: #e7e9fc;
  cursor: pointer;
  border: none;
  padding: 12px 24px 12px 24px;
  margin: 96px 0px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-color);
}

.projects-menu {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--accent-color);
}

.project {
  padding: 0px 16px;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: left;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}
